@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sl-content-width: 50rem;
    --sl-text-5xl: 3.5rem;
    /* --sl-text-xs: 1.2rem; */
  }
  html {
    font-size: 16px;
  }

  body {
    @apply text-base;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  p {
    @apply text-base;
  }
}
