---
name: Lint Codebase with Ruff

"on":
  push:
  pull_request:

jobs:
  linter-for-suffering:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Lint with Ruff
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1
        with:
          args: "check --config ruff.toml"
